.country-btn {
    width:14vw;
    font-size:2vw;
    border:none;
    margin:1.5vw;
    padding:2vw;
    background:#345;
    color:white;
    border-radius:15px;
}
#nav-mobile {
    display:flex;
}

#goodResults {
    font-size:16px;
    background:white;
    color:black;
    opacity: .7
}

body {
    background-image: url("../images/concert.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    margin:0;
    padding:0;
}

.searchBar {
    background:rgba(255, 255, 255, 0.5);
    margin-top: 15%;
    height: 80px;
}

input::placeholder {
    color: black;
    font-size: 1.5em;
    opacity: .6;
    /* text-align: center; */
    font-size: 2.5vw;
}


.whatDoYouGot {
    text-indent: 20%;
}

.show-details {
    margin-bottom: 18px;
}