.country-btn {
    width:14vw;
    font-size:2vw;
    border:none;
    margin:1.5vw;
    padding:2vw;
    background:#345;
    color:white;
    border-radius:15px;
}
#nav-mobile {
    display:flex;
}
.changeNow {
    border:none;
    border-radius:15px;
    margin-left:2vw;
    margin-top:.5vw;
}

#goodResults {
    font-size:16px;
    background:red;
    color:white;
}

body {
    background-image: url("../images/concert.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    margin:0;
    padding:0;
}

.nav-wrapper {
    background:rgba(255, 255, 255, 0.5);
    margin-top: 15%;
    height: 70px;
}

input::placeholder {
    color: black;
    font-size: 1.5em;
    opacity: .6;
    text-align: center;
    font-size: 2.5vw;
    
}
.changeNow {
    cursor: pointer;
    background-color: #234;
    margin-right: 5vw;
    color:white;
    padding-left: 20px;
    padding-right: 20px;
    
}
.whatDoYouGot {
    text-indent: 20%;
}